@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #eef9bf;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  width: 100%;
  height: 120px;
  color: #75b79e;
  font-size: 56px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flip-card-container {
  width: 117px;
  height: 146px;
  margin: 20px;
  perspective: 1000px;
}
.flip {
  transform: rotateY(180deg);
}
.flip-fixed {
  transform: rotateY(180deg);
}
.flip-card {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 5px;
  border: 1px solid #99cea8;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  backface-visibility: hidden;
}
.flip-card-front {
  transform: rotateY(180deg);
}
img {
  width: 100px;
  height: 100px;
}
.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}
.time {
  width: 100px;
  height: auto;
  background-color: white;
  border: 1px solid #99cea8;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #75b79e;
  text-align: center;
  margin: 20px;
}
